<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>

<p>
  <b>Start time:</b>
  <%= @game.start_time %>
</p>

<p>
  <b>Opponent:</b>
  <%= @game.opponent %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
