<%= form_for(@stat) do |f| %>
<% if @stat.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

  <ul>
    <% @stat.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="content">
<div class="btn-group">
    
    <% @players = Player.all %>
    <% @players.each do |player| %>
       <button class="btn"><%= player.name %></button>
    <% end %>
  </div>

  
<%= flash[:notice] %>

<div class="field">
  <%= f.label :player_id %>
  <% @players.each do |player| %>
   <%= f.radio_button(:player_id, player) %>
   <%= player.name %>
<% end %>

</div> 

<div class="field">
  <%= f.label :player_id %>
  <%= f.collection_select :player_id, Player.all, :id, :name, { include_blank:  "Select a Player"} %>
</div>

<div class="content">
  <div class="row">
    <div class="span3">
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <td>
            <div class="field">
              <%= f.label :two_made %>
              <%= f.number_field :two_made %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :two_miss %>
              <%= f.number_field :two_miss %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :three_made %>
              <%= f.number_field :three_made %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :three_miss %>
              <%= f.number_field :three_miss %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="field">
              <%= f.label :ft_made %>
              <%= f.number_field :ft_made %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :ft_miss %>
              <%= f.number_field :ft_miss %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :off_reb %>
              <%= f.number_field :off_reb %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :def_reb %>
              <%= f.number_field :def_reb %>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="field">
              <%= f.label :block %>
              <%= f.number_field :block %>
            </div>
          </td>
          <td>
         
           <div class="field">
              <%= f.label :assist %>
              <%= f.number_field :assist %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :steal %>
              <%= f.number_field :steal %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :turnover %>
              <%= f.number_field :turnover %>
            </div>
          </td>

        </table>
      </div>
    </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
  
  <% end %>
