<p id="notice"><%= notice %></p>

<p>
  <b>Two made:</b>
  <%= @stat.two_made %>
</p>

<p>
  <b>Two miss:</b>
  <%= @stat.two_miss %>
</p>

<p>
  <b>Three made:</b>
  <%= @stat.three_made %>
</p>

<p>
  <b>Three miss:</b>
  <%= @stat.three_miss %>
</p>

<p>
  <b>Ft made:</b>
  <%= @stat.ft_made %>
</p>

<p>
  <b>Ft miss:</b>
  <%= @stat.ft_miss %>
</p>

<p>
  <b>Off reb:</b>
  <%= @stat.off_reb %>
</p>

<p>
  <b>Def reb:</b>
  <%= @stat.def_reb %>
</p>

<p>
  <b>Block:</b>
  <%= @stat.block %>
</p>

<p>
  <b>Assist:</b>
  <%= @stat.assist %>
</p>

<p>
  <b>Steal:</b>
  <%= @stat.steal %>
</p>

<p>
  <b>Turnover:</b>
  <%= @stat.turnover %>
</p>

<p>
  <b>Player:</b>
  <%= @stat.player_name %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
